/* add body padding to compensate for fixed top navbar */
body {
  min-height: 30rem;
  /* padding adjusts for navbar and jumbotron */
  padding-top: 3.5rem;
}

.current a {
  color: green !important;
}